.img {
    height: 80px;
    width: 70px;
 }
 #navItem1 {
   color: #323f4b;
   font-family: "Roboto";
 }
 #navItem2 {
   color: #323f4b;
   font-family: "Roboto";
 }
 #navItem3 {
   color: #323f4b;
   font-family: "Roboto";
 }
 #navItem4 {
   color: #323f4b;
   font-family: "Roboto";
 }
 .banner-sec-bg-cont {
     background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/foodmunch-banner-bg.png");
     height: 100vh;
     background-size: cover;
 }
 .banner-head {
     color: white;
     font-family: "Bree Serif";
     text-align: center;
     padding: 10px;
     font-size: 45px;
     font-weight: 300;
 }
 .banner-para {
    color: #f5f7fa;
   font-family: "Roboto";
   font-size: 24px;
   font-weight: 700;
   text-align: center;
 }
 .button {
     width: 130px;
     height: 45px;
     background-color: #d0b200;
     color: white;
     border-radius: 8px;
     border-width: 0px;
     margin-right: 50px;
 }
 .button2 {
     width: 130px;
     height: 45px;
     background-color: transparent;
     color:#d0b200;
     border-radius: 8px;
     border-width: 2px;
     border-color: #d0b200;
     margin-right: 10px;
      font-weight: 700;
 }

 .wcu-sec {
    background-color: #f9fbfe;
}
.wcu-head {
    color: #183b56;
    font-family:"Roboto";
    font-size: 28px;
    font-weight: 700;
}
.wcu-para {
    color: #5a7184;
  font-family: "Roboto";
  font-size: 16px;
}
.wcu-card {
    background-color: white;
    text-align: center;
    border-radius: 16px;
    border-color: #e5eaf4;
     border-style: solid;
    border-width: 2px;
}
.wcu-img {
    width: 87px;
  height: 90px;
}
.wcu-card-title {
    color: #323f4b;
  font-family: "Roboto";
  font-size: 22px;
  font-weight: 500;
}
.wcu-card-para {
    color: #7b8794;
  font-family: "Roboto";
  font-size: 16px;
}
.offers {
    color: #323f4b;
  font-style: italic;
  font-weight: 600;
}

.exp-sec {
    background-color: white;
}
.exp-head {
  color: #183b56;
  font-family: "Roboto";
  font-size: 28px;
  font-weight: 700;
}
.exp-card {
    border-radius: 16px;
}
.exp-img {
    border-radius: 16px;
}
.exp-card-head {
  color: #323f4b;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 500;
  margin-top: 24px;
}
.exp-view {
  color: #d0b200;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 500;
}

.hfoodsec {
  background-color: #f9fbfe;
}
.hfoodimg {
    width: 270px;
}
.hfoodhead {
    color: #183b56;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 700;
}
.hfoodpara {
  color: #5a7184;
  font-family: "Roboto";
  font-size: 16px;
}
.custom-button {
    color: white;
  background-color: #d0b200;
  width: 130px;
  height: 45px;
  border-width: 0;
  border-radius: 8px;
  margin-right: 10px;
}

.delivpay {
  background-color: #f9fbfe;
}
.delivimg {
    width: 270px;
}
.delivhead {
    color: #183b56;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 700;
}
.delivpara {
  color: #5a7184;
  font-family: "Roboto";
  font-size: 16px;
}
.payment-card-img {
  width: 50px;
  height: 50px;
  margin-right: 28px;
}

.thankscust {
  background-image: radial-gradient(#fff8db,#fae386);
}

.fus {
  background-color: white;
}
.fus-head {
  color: #183b56;
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  font-family: "Roboto";
}
.fus-icon {
background-color: #faf7e8;
width: 80px;
height: 80px;
border-radius: 40px;
margin: 15px;
padding-top: 22px;
padding-bottom: 14px;
padding-right: 16px;
padding-left: 22px;
}
.icon {
color: #d0b200;
font-size: 35px;
}
.footer-sec {
  background-color: #0d2436;
}
.foo-mail {
  color: #959ead;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 16px;
  margin-top: 20px;
}
.foo-add {
  color: #959ead;
  font-family: "Roboto";
  font-size: 14px;
}